---
title: Articles
link: Articles
css: |
 .articlelist {

 }
 .articlelist .item {
     background-color: white;
     color: #802d46;
     padding: 0;
     margin: .5em;
 }
 .articlelist .item p {
     padding: .5em;
     font-size: 10pt;
     margin-top: 0;
 }
 .articlelist .box {
     background-color: #601a2f;
     color: #e9afc0;
     padding: .5em;
     font-weight: bold;
     font-size: 10pt;
 }
 .articlelist .box .date {
     float: right;
 }
 .articlelist .box .name {
     float: left;
 }
 .articlelist .byline {
     background-color:#d992a7;
     color: #601a2f;
     font-size: 9pt;
     padding: .2em .5em;
 }
---
<div class="articlelist">
    <%=
       z=""
       @items.each{|i|
           if i[:extension]=="story" then
               z+='<a href="'+relative_path_to(i)+'">
                       <div class="item">
                           <div class="box">
                                 <div class="date">'+i[:date]+'</div>
                                 <div class="title">'+i[:title]+'</div>
                           </div>
                           <div class="byline">'+i[:author]+'</div>
                           <p>'+i[:blurb]+'</p>
                       </div>
                   </a>'
           end
       }
       z
    %>
</div>
