---
title: Cast
link: Cast
css: |
 .intro {
 	background-color:white;
 	padding: 1em;
 	margin-top: 0;
 }
 .faction {
 	text-align: justify;
 	margin: 1em 0em;
 	margin-bottom: 2em;
 	background-color: white;
 }
 .faction p {
 	padding: 1em;
 	padding-bottom: 0;
 }
 .faction .quote {
 	font-family: "GaramondNo8", Georgia, sans-serif;
 	font-size: 17pt;
 	color: #601a2f;
 	background-color: #e9afc0;
 	padding: .9em 5em;
 	margin-top: 0;
 	text-align: center;
 	display: block;
 }
 @media not all and (min-width: 550px) {
 	.faction .quote {
 		font-size: 13pt;
 		padding: .9em 1em;
 	}
 }
 .faction .quote:hover {
 	background-color: #efc3d0;
 	color: #882543;
 }
 .warning {
 	margin-top: 1em;
 	text-align: center;
 	background-color: #9d5c70;
 	color: #e9afc0;
 	padding: .3em;
 	font-size: 10pt;
 }
---

<div class="warning"><strong>WARNING:</strong> Unmarked spoilers ahoy!</div>
	<div class="intro">There are a lot of players in the AN6 universe.</div>
	<div class="faction">
		<p>First off, there's <strong>Approved News 6.</strong> They are an approved news source. Love them. Trust them. When in doubt, obey them.</p>
		<a href="archive.html#headline_468123683400056833" class="quote">REMINDER: Questioning Approved News Sources is a Heresy, And Must Be Reported</a>
	</div>
	<div class="faction">
		<p>Then there's the <strong>Blood-Soaked Maidens of the Cold Sword</strong>, who rule Eastern Oregon with an iron fist, talk like crusaders and have a tendency to lapse into Latin when they're angry. Nobody knows what they want yet, but they claim to oppose the "Celebrants of the Yellow Defiler," and they won't tolerate heresy. Or gluttony. Or “shiftlessness.”</p>
		<a href="archive.html#headline_467838797736976385" class="quote">“Stoke the Fires and Let Our Great Work Begin:” Blood-Soaked Maidens of the Cold Sword Announce Recruitment Drive, Public Heretic Burnings</a>
	</div>

	<div class="faction">
		<p>There's the <strong>Democrats</strong>, who mostly seem to be normal people, but the DNC seems to be run by… something else, and Obama clearly has otherworldly knowledge that may or may not just be a perk of the presidency.</p>
		<a href="archive.html#headline_467144961058562048" class="quote">Democrats Announce 2016 Strategy: “[PIERCING SHRIEK],” “[WRATHFUL PHEROMONE EMISSIONS]”</a>
	</div>

	<div class="faction">
		<p>There's the <strong>Republicans</strong>, who aren't much different from our world's version, except they occasionally use horrific bone rituals for secret goals. At least Rand Paul did; McConnell claims that was just a Tea Party stunt and the Republicans are firmly opposed to bone heresy.</p>
		<a href="archive.html#headline_467385803027410944" class="quote">Republicans Accuse Democrats of Being “Soft on Bone Heresy”</a>
	</div>

	<div class="faction">
		<p>There's the <strong>Nevada Sandlords</strong>, who seem genial enough and have been distracting the resurgent Mesoamerican deities, but their war is starting to get a little out of hand and has no end in sight.</p>
		<a href="archive.html#headline_467763298700521472" class="quote">Sneering, Nevada Sandlords Dare Ravenous Mesoamerican Deities to “Snack On Someone Your Own Size”</a>
	</div>

	<div class="faction">
		<p>There's the <strong>flesh lords</strong>, who [REDACTED], get pissy about transphobia, have some connection to the bone caverns, and speak only through the nightmares of madmen, though they seem to have a decent working relationship with Obama regardless.</p>
		<a href="archive.html#headline_466761165536636929" class="quote">BREAKING: Obama to hold summit in bone caverns; prepares “tribute for the flesh lords”</a>
	</div>

	<div class="faction">
		<p>There's the <strong>Department of Necromancy, Mutilation, and Bone Ritual</strong> — the DNMB if you're a Beltway insider — which is presided over by a 7-foot Dread Secretary in an iron stag mask, whose name is expunged from all records upon nomination in accordance with ancient tradition. In the absence of an Old Forest-approved Dread Secretary, its officials carve weapons of stone and sinew and defend the department's office from interlopers.</p>
		<a href="archive.html#headline_467360636595236865" class="quote">DNMB Confirms Western Oregon Free of Contamination, Cancels Procedures, Apologizes for “Secret Fate” Inflicted on Innocent Victims</a>
	</div>

	<div class="faction">
		<p>There's the <strong>Old Forest</strong>. Not a lot is known about it, but we do know the Framers made some sort of pact with it hundreds of years ago, and the Dread Secretary of the DNMB must be approved by it, as well as Congress. The ritual causes the entire country to enter the Bone Fugue for hours, and if the majority awakens unaltered, they know the new Dread Secretary has been accepted.</p>
		<a href="archive.html#headline_468155895122120704" class="quote">Old Forest Ceases Thunderous Tremors; Obama Confirms “The Deed Is Done,” Wipes Away a Single Tear</a>
	</div>

	<div class="faction">
		<p>There's the <strong>Forbidden Lands</strong>, a mysterious and melancholic place of red flowers, dim torches, and distant chanting, ruled over by a Shadow Council that seems marginally less cruel than the U.S. government — though it is tough on thought crime — and takes an active interest in world affairs. They have no truck with the Western gender binary.</p>
		<a href="archive.html#headline_467345536647823360" class="quote">Forbidden Lands Launch Longboat Fleet in Melancholy Ceremony of 1,000 Torches in Dead of Night, Citizens Throw Red Flowers at Somber Rowers</a>
	</div>

	<div class="faction">
		<p>There's <strong>Russia</strong>, which remains committed to incinerating the West with bone magic.</p>
		<a href="archive.html#headline_467790981681537024" class="quote">Putin Threatens to Unleash “Crawling Terrors” on US Soil. Kerry: United States "Will Not Negotiate" With "Incomprehensible Man Made of Bees"</a>
	</div>

	<div class="faction">
		<p>There's the <strong>Ashen Isles of Pain and Lament</strong>, whose young Empress, <strong>Vivian Torquist II</strong>, has recently gone missing, leaving her uncle Tormund the Grand Vizier to rule in her stead. Whoever they are, they're important enough for Kerry to visit to console the Torquist family and offer the U.S.'s support and ancient wisdom.</p>
		<a href="archive.html#headline_468125695344787456" class="quote">ASHEN ISLES: Uncle of Empress, Grand Vizier Tormund Torquist, Seizes Power “Until Niece Can Resume her Glorious Reign”</a>
	</div>

	<div class="faction">
		<p>There's the <strong>Woman in the Red Cloak and Oaken Crown</strong> and her <strong>Soldiers in Blackened Steel Armor</strong>, who besieged the Washington, D.C. frying chamber and rescued ex-Secretary of Eternity and convicted bone heretic Ian Sandoval from the clutches of the Dread Secretary. Whoever they are, they've got good intelligence, coming prepared with the only weapon capable of killing a Dread Secretary of the DNMB and escaping on a zeppelin hidden from the watching gaze of satellites by forsaken runes.</p>
		<a href="archive.html#headline_468158411775819776" class="quote">SOURCES: Masked Woman with “Olive Skin and Eyes of Steel” Wrests Ian Sandoval from Clutches of Dread Secretary</a>
	</div>

	<div class="faction">
		<p>There's <strong>Intel</strong>. God alone knows what they're up to, but their "Forsaken Bridge" chip has gotten at least one person killed horribly, and their executives cut out their own tongues rather than be compelled to testify by blood oath. Of course, as everyone keeps saying, it's probably nothing to worry about.</p>
		<a href="archive.html#headline_467355603254267904" class="quote">DOJ Grand Inquisitor Announces Capture of 3 Intel Executives, Cyanide-Capsule Suicide of 2 Others; Asks Grand Jury for Necromancy Warrant</a>
	</div>

	<div class="faction">
		<p>There's <strong>MIT</strong>, which tends to ask questions that shouldn't be asked.</p>
		<a href="archive.html#headline_466755542187134977" class="quote">MIT Topologists Cancel Study of Sewer Systems: “We Were Wrong, So Terribly Wrong”</a>
	</div>

	<div class="faction">
		<p>There's the <strong>University of Oregon</strong>, which is somewhat more cautious, although her linguistics faculty is not above violence when the situation calls for it.</p>
		<a href="archive.html#headline_467155891561578496" class="quote">“It's a god-damn warzone in there:” University of Oregon Linguistics Faculty Devastated by Internecine Conflicts</a>
	</div>

	<div class="faction">
		<p>There's the <strong>American Tree-Punching League</strong>, who seem to be the only ones taking the arborist threat seriously anymore.</p>
		<a href="archive.html#headline_466956906368495616" class="quote">Dozens Feared Dead in Detroit Arborist Attack; American Tree-Punching League Announces Formation of Armed Militia</a>
	</div>

	<div class="faction">
		<p>There's the treacherous <strong>Poet Laureate Maxine Halvorsen</strong> who's made at least one attempt to overthrow the American government.</p>
		<a href="archive.html#headline_475682980547932160" class="quote">TREACHERY: U.S. POET LAUREATE LEADS FEROCIOUS ASSAULT ON WHITE HOUSE</a>
	</div>
	
	<div class="faction">
		<p>There's <strong><a href="/approvednews5">Approved News 5</a></strong>, which is no longer approved.</p>
		<a href="archive.html#headline_483842950959333376" class="quote">WARNING: @ApprovedNews5 HAS BREACHED CONTAINMENT</a>
	</div>
	
	<div class="faction">
		<p>There's <strong>Canada</strong>. Well, there was.</p>
		<a href="archive.html#headline_466963856888049665" class="quote">INTERNATIONAL: Canada Canceled, Say Sources</a>
	</div>

	<div class="faction">
		<p>And then there's the <strong>Illuminati</strong> — brutal, efficient, ruthless, and seemingly in it for shits and giggles half the time, they have spies everywhere, control everything, and have access to terrifying amounts of power. They'll kidnap people by teleporter, and they never return them entirely unaltered. They've quarantined entire countries for the good of the timeline on occasion. Their Inner Council is apparently immortal. But the Illuminati does seem to have humanity's (or at least causality's) best interests at heart, taking an interest in The Boats and putting the tourists who learned the terrible secret about them on a forbidden helicopter to the Forbidden Lands.</p>
		<a href="archive.html#headline_467770848682594304" class="quote">Illuminati Offers Choice of “Life,” “Freedom,” or “Gills” as Reward for Any Information On Shadowy Plumber Cabal</a>
	</div>

	<div class="faction">
		<p>Oh, and of course there's <strong>Florida Men</strong>. They're the worst. The absolute worst.</p>
		<a href="archive.html#headline_467040516433928192" class="quote">Florida Man Invents New Crime</a>
	</div>
