<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Approved News 6 - <%= @item[:title] %></title>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <link rel="stylesheet" href="<%= relative_path_to("/approvednews.css")%>" />
    <%=
       if @item[:css] != nil
           '<style type="text/css">'+@item[:css]+"</style>"
       end
    %>
    <link href='http://fonts.googleapis.com/css?amp;family=Open+Sans:100,300italic,400,300,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css' />
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51096979-1', 'velartrill.github.io');
      ga('send', 'pageview');
    </script>
    </head>
    <body>
    <div id="header"></div>
    <div id="nav">
       <%=
          z=""
          @items.each { |i|
              if i[:link] != nil then
                  if i==@item then
                      z+='<span class="selected">'+i[:link]+"</span>"
                  else
                      z+=link_to(i[:link],relative_path_to(i))
                  end
              end
          z+="\n"
          }
        z %>
        <a href="https://twitter.com/ApprovedNews5">Live Feed</a>
        <a href="http://www.patreon.com/approvednews6">Support Us</a>
    </div>
    <div id="container">
       <%= yield %>
    </div>
</html>
